html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
	background-color: rgb(204, 204, 204);
  font-family: 'PT Sans', 'sans-serif';
    background-image: url('');
}
.container{
    display: grid;
	grid-template-columns: repeat(12, 1fr);
  
}

/*header*/

header {
    left: 25px;
    position: fixed;
    text-align: left;
}
.headerr{
    grid-column: 1/3;
}

.titre p {
    width: 100px;
    text-align: center;
    
}

.titre {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 80px;
    height: 80px;
    color: black;
    border-radius: 2px;
    border-style: solid;
    border-width: 0.06em;
    border-color: black;
    text-align: center;
}
.titre .logo a{
    text-decoration: none;  
    color: black;
}
.titre a{
    text-align: center;
}
nav {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
}

.button {
    margin-top: 40px;
    margin-bottom: 40px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: red;
    transition: color 0.5s ease;
}

/*pied de page*/

footer{
	display: fix;
	justify-content: center;

	grid-column: 3 / span 10;
	grid-row: 11 / span 2;

	border-top:0.1em solid black;
	width:80%;
}

p{
	text-align: center;
	font-size:0.8em;
	margin-top:0.2em;
	margin-bottom:0.2em;
}

.info a{
    text-decoration: none;
    color: black;
}

.info a:hover{
    color:white;
    transition: color 0.5s ease;
}

.detail{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mention a{
	padding: 0.5em;
    color: black;
    text-decoration: none;

}

.mention a:hover{
    color: white;
    transition: color 0.5s ease;
}

.mention{
    margin-bottom: 0.5em;
}

.info {
    margin-top: 20px;
    margin-bottom: 10px;
}

/* logo réseaux sociaux */

.s-m{
    position: relative;

}
.s-m a{
    display: inline-flex;
    width: 30px;
    height: 30px;
    background: black;
    color: aliceblue;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size: 24px;
}
.s-m a:hover{
    background: grey;

}
.s-m a i{
    transition: 0.4s all;
}
.s-m a:hover > i{
    transform: scale(1.6) rotate(25deg);
}

/* Slider */

#slider {
    position: relative;
	grid-column: 3 / 13;
	height: 100vh;
    border-block-end: #606060;
	border-spacing: 5px;

}
  
.slide {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    flex-direction: column;
}
  
.fleche-gauche,
.fleche-droite {
    color: #606060;
    position: absolute;
    top: 50%;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
  
.fleche-gauche {
    left: 15px;
    color: rgb(210, 210, 210);
    font-size: 25px;
}
  
.fleche-droite {
    right: 15px;
    color: rgb(210, 210, 210);
    font-size: 25px;
}
  
.en-savoir-plus,
.fleche {
    text-decoration: none;
    padding: 6px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1px;
    color: rgb(210, 210, 210);
}
.en-savoir-plus{
    font-size: 13px;
} 
.slide .en-savoir-plus {
    opacity: inherit;
}
  
.slider-title {
    padding: 6px;
    letter-spacing: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1px;
    
}

.presta {
    grid-column: 3 / 11;
    grid-row-start: 4;
    background-color: rgb(234, 234, 234);
    text-align: center;
    letter-spacing: 2px;
}
/* description */

.description {
    grid-column: 4 / 10;
    height: 100vh;
}
.para1 {
    grid-column: 4 / 10;
    margin: 50x;
    text-align: justify;
}

.para2 {
    grid-column: 4 / 10;
    margin: 50px;
    text-align: justify;
}
